<project name="first-principle" ID="1679BFC17676PTVR852659XS9KNG757E4RY5" version="docear 1.0">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://1679BFC17676PTVR852659XS9KNG757E4RY5/_data/1679BFC17676PTVR852659XS9KNG757E4RY5/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://1679BFC17676PTVR852659XS9KNG757E4RY5/_data/1679BFC17676PTVR852659XS9KNG757E4RY5/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://1679BFC17676PTVR852659XS9KNG757E4RY5/_data/1679BFC17676PTVR852659XS9KNG757E4RY5/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://1679BFC17676PTVR852659XS9KNG757E4RY5/_data/1679BFC17676PTVR852659XS9KNG757E4RY5/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true"/>
<link type="references" name="References" path="project://1679BFC17676PTVR852659XS9KNG757E4RY5/_data/1679BFC17676PTVR852659XS9KNG757E4RY5/default_files/first-principle.bib" system="true"/>
</project>
