<project name="statistical-mechanics" ID="168845B4B771OKR0M0YSJWPEINANNV7JTPQQ" version="docear 1.0">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/_data/168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/_data/168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/_data/168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/_data/168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="default" path="../../literature_repository"/>
</folder>
<link type="references" name="References" path="project://168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/_data/168845B4B771OKR0M0YSJWPEINANNV7JTPQQ/default_files/statistical-mechanics.bib" system="true"/>
</project>
